body{
    /* background-color: aqua; */
    padding: 5%;
}

#heading{
    /* width: 50%; */
    margin: auto;
}

#num{
     
       margin: 10%;

}
#button{
    padding: 5%;
    margin-top:10px;
}

#span{
margin: auto;
align-content: center;
}